<%= simple_form_for(@diagnostic, :class => "navbar-form navbar-left form-inline form-signin", :role => "form") do |f|%>
    <%= f.label :code, :class => 'login-label' %><br />
    <%= f.text_field :code, autofocus: true, :class => 'form-control' %>
    <%= f.label :fee, :class => 'login-label' %><br />
    <%= f.text_field :fee, autocomplete: "off", :class => 'form-control'%>
    </br></br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
<% end %>
<%= link_to 'Show', @diagnostic %> |
<%= link_to 'Back', diagnostics_path %>