<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'shared/sidebar' %>
    <!--/span-->
    <div class="col-xs-12 col-sm-9 content">
      <div class="container">

        <div>
          <%= will_paginate @diagnostics %>
          <br/>
          <%= link_to('New Diagnostic Code', new_diagnostic_path, class: 'btn btn-default', method: 'get') %>
          </br>
          </br>
        </div>


        <table>
          <thead class="background">
          <tr>
            <th colspan="9">
              Diagnostic Codes Listed
            </th>
          </tr>
          <tr>
            <th>Code</th>
            <th>Fee</th>
            <th colspan="3">Actions</th>
          </tr>
          </thead>


  <tbody>
    <% @diagnostics.each do |diagnostic| %>
      <tr>
        <td><%= diagnostic.code %></td>
        <td><%= number_to_currency(diagnostic.fee) %></td>
        <td>
          <%= button_to(diagnostic, class: "btn btn-success btn-sm", method: "get")  do %>
              <span class="glyphicon glyphicon-eye-open"></span>
          <% end %>
        </td>
        <td>
          <%= button_to(edit_diagnostic_path(diagnostic), class: "btn btn-info btn-sm", method: "get")  do %>
              <span class="glyphicon glyphicon-edit"></span>
          <% end %>
        </td>
        <td>
          <%= button_to(diagnostic, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' })  do %>
              <span class="glyphicon glyphicon-remove-circle"></span>
              </td>
          <% end %>
          </tr>
  <% end %>
  </tbody>
</table>



        <br/>
        <%= will_paginate @appointments %>

      </div>
    </div><!--/span-->
  </div><!--/row-->
</div><!-- /.container -->

