<body>
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'shared/sidebar' %>
    <!--/span-->
    <div class="col-xs-12 col-sm-9 content">
      <div class="container">
        <table>
          <thead class="background">
          <tr>
            <th colspan="2">Diagnostic Code Information</th>
          </tr>
          </thead>

          <tbody class="background">

          <tr>
            <td><strong>Code:</strong></td>
            <td><%= @diagnostic.code %></td>
          </tr>
          <tr>
            <td><strong>Fee:</strong></td>
            <td><%= number_to_currency(@diagnostic.fee) %></td>
          </tr>
          </tbody>
        </table>
        <br/>


        <%= link_to 'Edit', edit_diagnostic_path(@diagnostic) %> |
        <%= link_to 'Back', diagnostics_path %>
      </div>
    </div>
  </div><!--/span-->

</div><!--/row-->

</div><!-- /.container -->

</body>