
<link href="sidebar.js">

<body class="main" style="background-image: url(<%= asset_path 'blurred.jpg' %>)"  >

<!--/span-->
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'shared/sidebar' %>
    <!--/span-->
    <div class="col-xs-12 col-sm-9 content">
      <div class="container">
        <div class="row vertical-offset-100">
          <div class="col-md-4 col-md-offset-4">
            <div class="list-group">

              <a href="#" class="list-group-item visitor">
                <h3 class="pull-right">
                  <i class="fa fa-eye"></i>
                </h3>
                <h4 class="list-group-item-heading count">

                </h4>
                <p class="list-group-item-text">
                  Total Active Appointments
                </p>
              </a>
              <a href="#" class="list-group-item facebook-like">
              <h3 class="pull-right">
                <i class="fa fa-facebook-square"></i>
              </h3>
              <h4 class="list-group-item-heading count">

              </h4>
              <p class="list-group-item-text">
                Total Patients
              </p>
            </a>
              <a href="#" class="list-group-item google-plus">
              <h3 class="pull-right">
                <i class="fa fa-google-plus-square"></i>
              </h3>
              <h4 class="list-group-item-heading count">
              </h4>
              <p class="list-group-item-text">
                <%= Appointment.totalappointment %>
                <i class="fa fa-twitter-square"></i>
                <br/>
                Total Completed Appointments
                </p>
              </a>
              <a href="#" class="list-group-item twitter">
                <h3 class="pull-right">
              </h3>
              <h4 class="list-group-item-heading count">
                1000
              </h4>
              <p class="list-group-item-text">
                Total Physicians
              </p>
            </a>
              <a href="#" class="list-group-item visitor">
                <h3 class="pull-right">
                  <i class="fa fa-twitter-square"></i>
                </h3>
                <h4 class="list-group-item-heading count">
                  1000
                </h4>
                <p class="list-group-item-text">
                  Total Amount Invoiced
                </p>
              </a>
            </div>
          </div>

            </div>
          </div>
        </div>
      </div>
    </div><!--/span-->

  </div><!--/row-->

</div><!-- /.container -->

</body>


