<!--/span-->
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'shared/sidebar' %>
    <!--/span-->
    <div class="col-xs-12 col-sm-9 content">
      <div class="container">

        <%= will_paginate @employees %>

        <table>
          <thead class="background">
          <tr>
            <th colspan="10">
              Employees Listed
            </th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Phone</th>
            <th colspan="3">Actions</th>
          </tr>
          </thead>


  <tbody class="background">
    <% @employees.each do |employee| %>

      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.address %></td>
        <td><%= employee.city %></td>
        <td><%= employee.state.state %></td>
        <td><%= employee.zipcode %></td>
        <td><%= number_to_phone(employee.phone) %></td>
        <td>
          <%= button_to(employee, class: "btn btn-success btn-sm", method: "get")  do %>
              <span class="glyphicon glyphicon-eye-open"></span>
          <% end %>
        </td>
        <td>
          <%= button_to(edit_employee_path(employee), class: "btn btn-info btn-sm", method: "get")  do %>
              <span class="glyphicon glyphicon-edit"></span>
          <% end %>
        </td>
        <td>
          <%= button_to(employee, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' })  do %>
              <span class="glyphicon glyphicon-remove-circle"></span>
              </td>
          <% end %>
          </tr>
  <% end %>
  </tbody>
          <% if current_user.admin? %>
          <div>
            <%= link_to('New Employee', new_employee_path, class: 'btn btn-default', method: 'get') %>
            </br>
            </br>
          </div>
          <% end %>
        </table>
        <br>
        <%= will_paginate @employees %>

        <div class="row vertical-offset-100">



          <div class="col-md-4 col-md-offset-4">

          </div>
        </div>
      </div>
    </div><!--/span-->

  </div><!--/row-->

</div><!-- /.container -->

</body>