<body>
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'shared/sidebar' %>
    <!--/span-->
    <div class="col-xs-12 col-sm-9 content">
      <div class="container">
        <table>
          <thead class="background">
          <tr>
            <th colspan="2">Employee Information</th>
          </tr>
          </thead>

          <tbody class="background">

          <tr>
            <td><strong>Name:</strong></td>
            <td><%= @employee.name %></td>
          </tr>
          <tr>
            <td><strong>Address:</strong></td>
            <td><%= @employee.address %></td>
          </tr>
          <tr>
            <td><strong>City:</strong></td>
            <td><%= @employee.city %></td>
          </tr>
          <tr>
            <td><strong>State:</strong></td>
            <td><%= @employee.state.state %></td>
          </tr>
          <tr>
            <td><strong>Zip Code:</strong></td>
            <td><%= @employee.zipcode %></td>
          </tr>
          <tr>
            <td><strong>Phone:</strong></td>
            <td><%= number_to_phone(@employee.phone) %></td>
          </tr>
          </tbody>
        </table>
        <br/>


        <%= link_to 'Edit', edit_employee_path(@employee) %> |
        <%= link_to 'Back', employees_path %>
      </div>
    </div>
  </div><!--/span-->

</div><!--/row-->

</div><!-- /.container -->

</body>


