<body class="main" style="background-image: url(<%= asset_path 'blurred.jpg' %>)"  >
<div class="container">
  <div class="row vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-headingSign">
          <div class="row-fluid user-row">
            <img src="http://dev.itvgoggles.com/wp-content/uploads/2014/02/caduceus-alone.png"
                 class="img-responsive" alt="Conxole Admin" width="150px"/>
          </div>
        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, :class => "navbar-form navbar-left form-inline form-signin", :role => "form", url: registration_path(resource_name)) do |f|%>
              <div>
              <%= f.label :name %>
              <br/>
              <%= f.text_field :name, autofocus: true, class: 'form-control' %>
              <%= f.label :email, :class => 'login-label' %><br />
              <%= f.email_field :email, :class => 'form-control' %>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Confirmation waiting: <%= resource.unconfirmed_email %></div>
              <% end %>
              <br/>
              <p style="font-size:16px"><strong>Update Password?</strong><i> (leave blank otherwise)</i></p>
              <br/>
              <br/>
              <%= f.label :current_password %> <i> (required for confirmation)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
              <br/>
              <br/>
              <%= f.label :new_password, :class => 'login-label' %><br />
              <%= f.password_field :password, autocomplete: "off", :class => 'form-control'%>
              <%= f.label :new_password_confirmation %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
              <br/><br/>
              </div>

              <div>
              <%= f.submit 'Update Account', :class => 'button right', :class => 'btn btn-lg btn-primary btn-block' %>
              </div>
              <% end %>
              <br/>
              <p style="font-size:16px"><strong>Cancel Account</strong></p>
              <br/>
              <%= button_to "Cancel Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-lg btn-danger btn-block' %></p>
              <%= link_to('Go Back', dashboard_index_path) %>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>