<html>
<body class="main" style="background-image: url(<%= asset_path 'island.jpg' %>)"  >
<div class="container">
  <div class="row vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-headingSign">
          <div class="row-fluid user-row">
            <img src="http://dev.itvgoggles.com/wp-content/uploads/2014/02/caduceus-alone.png"
                 class="img-responsive" alt="Conxole Admin" width="150px"/>
          </div>
        </div>
        <div class="panel-body">

          <%= form_for(resource, as: resource_name, :class => "navbar-form navbar-left form-inline form-signin", :role => "form", url: registration_path(resource_name)) do |f|%>
              <%= f.label :name, :class => 'login-label' %><br />
              <%= f.text_field :name, autofocus: true, :class => 'form-control' %>
              <%= f.label :email, :class => 'login-label' %><br />
              <%= f.email_field :email, :class => 'form-control' %>
              <%= f.label :password, :class => 'login-label' %><br />
              <%= f.password_field :password, autocomplete: "off", :class => 'form-control'%>
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
              </br></br>
              <%= link_to "Sign In", new_user_session_path, class: 'login-label' %>
              </br></br>
              <%= f.submit 'Sign up', :class => 'button right', :class => 'btn btn-lg btn-primary btn-block' %>
          <% end %>
         </form>
        </div>
      </div>
    </div>-
  </div>
</div>
</body>
</html>
