<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'shared/sidebar' %>
    <!--/span-->
    <div class="col-xs-12 col-sm-9 content">
      <div class="container">

        <div>
          <br/>
          <%= link_to('New Status', new_status_path, class: 'btn btn-default', method: 'get') %>
          </br>
          </br>
        </div>


        <table>
          <thead class="background">
          <tr>
            <th colspan="8">
              Statuses Listed
            </th>
          </tr>
          <tr>
            <th>Status</th>
            <th colspan="3">Actions</th>
          </tr>
          </thead>


          <tbody>
          <% @statuses.each do |status| %>
              <tr>
                <td><%= status.name %></td>
                <td>
                  <%= button_to(status, class: "btn btn-success btn-sm", method: "get")  do %>
                      <span class="glyphicon glyphicon-eye-open"></span>
                  <% end %>
                </td>
                <td>
                  <%= button_to(edit_status_path(status), class: "btn btn-info btn-sm", method: "get")  do %>
                      <span class="glyphicon glyphicon-edit"></span>
                  <% end %>
                </td>
                <td>
                  <%= button_to(status, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' })  do %>
                      <span class="glyphicon glyphicon-remove-circle"></span>
                      </td>
                  <% end %>
                  </tr>
          <% end %>
          </tbody>
        </table>



        <br/>


      </div>
    </div><!--/span-->
  </div><!--/row-->
</div><!-- /.container -->

