<body>
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'shared/sidebar' %>
    <!--/span-->
    <div class="col-xs-12 col-sm-9 content">
      <div class="container">
        <table>
          <thead class="background">
          <tr>
            <th colspan="2">Status Information</th>
          </tr>
          </thead>

          <tbody class="background">

          <tr>
            <td><strong>Status:</strong></td>
            <td><%= @status.name %></td>
          </tr>
          </tbody>
        </table>
        <br/>


        <%= link_to 'Edit', edit_status_path(@status) %> |
        <%= link_to 'Back', statuses_path %>
      </div>
    </div>
  </div><!--/span-->

</div><!--/row-->

</div><!-- /.container -->

</body>


