<%= simple_form_for(@insurance) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>
    </br>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
    </br>
<% end %>
