<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'shared/sidebar' %>
    <!--/span-->
    <div class="col-xs-12 col-sm-9 content">
      <div class="container">
        <%= will_paginate @insurances %>

        <br/>
        <%= link_to('New Insurance', new_insurance_path, class: 'btn btn-default', method: 'get') %>
        <br/>
        <br/>
        <table>
          <thead class="background">
          <tr>
            <th colspan="8">
              Insurances Listed
            </th>
          </tr>
          <tr>
            <th>Insurance</th>
            <th colspan="3">Actions</th>
          </tr>
          </thead>


          <tbody>
          <% @insurances.each do |insurance| %>
              <tr>
                <td><%= insurance.name %></td>
                <td>
                  <%= button_to(insurance, class: "btn btn-success btn-sm", method: "get")  do %>
                      <span class="glyphicon glyphicon-eye-open"></span>
                  <% end %>
                </td>
                <td>
                  <%= button_to(edit_insurance_path(insurance), class: "btn btn-info btn-sm", method: "get")  do %>
                      <span class="glyphicon glyphicon-edit"></span>
                  <% end %>
                </td>
                <td>
                  <%= button_to(insurance, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' })  do %>
                      <span class="glyphicon glyphicon-remove-circle"></span>
                      </td>
                  <% end %>
                  </tr>
          <% end %>
          </tbody>
        </table>
        <%= will_paginate @insurances%>

          <br/>

        <br/>


        <br/>


      </div>
    </div><!--/span-->
  </div><!--/row-->
</div><!-- /.container -->



