<td>
  <%= link_to user.email, user %>
</td>
<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
</td>
<td>
    <%= f.submit 'Change Role', :class => 'button-xs' %>
</td>
  <% end %>
<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs btn-danger sidelink') unless user == current_user %>
</td>
