<body class="main" style="background-image: url(<%= asset_path 'blurred.jpg' %>)"  >

<!--/span-->
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'shared/sidebar' %>
    <!--/span-->
    <div class="col-xs-12 col-sm-9 content">
      <div class="container">
        <div class="row vertical-offset-100">
          <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-heading" style="text-align:center">
                <strong><h3>User Information</h3></strong>
              </div>
              <div class="row-fluid user-row" style="text-align:center">
                <p>Name: <%= @user.name if @user.name %></p>
                <p>Email: <%= @user.email if @user.email %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--/span-->

  </div><!--/row-->

</div><!-- /.container -->

</body>

