<html>
<body class="main" style="background-image: url(<%= asset_path 'island.jpg' %>)"  >
<div class="container">
  <div class="row vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Change your password</h2>
          <div class="row-fluid user-row">

          </div>
        </div>
        <div class="panel-body">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "New password" %><br />
      <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password" %>
    </div>
<% end %>

<%= render "devise/shared/links" %>

        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>