<html>
<body class="main" style="background-image: url(<%= asset_path 'island.jpg' %>)"  >
<div class="container">
  <div class="row vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading" style="text-align:center">
          <h2>Forgot your password?</h2>
          <div class="row-fluid user-row">

          </div>
        </div>
        <div class="panel-body" style="text-align:center">


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="actions">
      <%= f.submit "Send Reset Instructions" %>
    </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
</div>
</div>
</body>
</html>