<%= simple_form_for(@state) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :state %>
  </div>
  <br/>
  <br/>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<%= link_to 'Show', @state %> |
<%= link_to 'Back', states_path %>