<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'shared/sidebar' %>
    <!--/span-->
    <div class="col-xs-12 col-sm-9 content">
      <div class="container">

        <div>
          <%= will_paginate @states%>
          <br/>
          <%= link_to('New State', new_state_path, class: 'btn btn-default', method: 'get') %>
          </br>
          </br>
        </div>


        <table>
          <thead class="background">
          <tr>
            <th colspan="8">
              States Listed
            </th>
          </tr>
          <tr>
            <th>State</th>
            <th colspan="3">Actions</th>
          </tr>
          </thead>


          <tbody>
          <% @states.each do |state| %>
              <tr>
                <td><%= state.state %></td>
                <td>
                  <%= button_to(state, class: "btn btn-success btn-sm", method: "get")  do %>
                      <span class="glyphicon glyphicon-eye-open"></span>
                  <% end %>
                </td>
                <td>
                  <%= button_to(edit_state_path(state), class: "btn btn-info btn-sm", method: "get")  do %>
                      <span class="glyphicon glyphicon-edit"></span>
                  <% end %>
                </td>
                <td>
                  <%= button_to(state, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' })  do %>
                      <span class="glyphicon glyphicon-remove-circle"></span>
                      </td>
                  <% end %>
                  </tr>
          <% end %>
          </tbody>
        </table>
        <%= will_paginate @states%>



        <br/>


      </div>
    </div><!--/span-->
  </div><!--/row-->
</div><!-- /.container -->

