<% if current_user.physician? %>
<%= simple_form_for(@physician, :class => "navbar-form navbar-left form-inline form-signin", :role => "form") do |f|%>
      <%= f.label :name, :class => 'login-label' %><br />
      <%= f.collection_select :name, User.all.select{|physician| physician.email == current_user.email},:name, :name, :class => 'form-control' %>
      <br/>
      <%= f.label :address, :class => 'login-label' %><br />
      <%= f.text_field :address, autocomplete: "off", :class => 'form-control'%>
      <%= f.label :city, :class => 'login-label' %><br />
      <%= f.text_field :city, autocomplete: "off", :class => 'form-control'%>
      <%= f.label :state, :class => 'login-label' %><br />
      <%= f.collection_select :state_id, State.all, :id,:state, class: 'btn btn-default' %>
      <br/>
      <%= f.label :zipcode, :class => 'login-label' %><br />
      <%= f.text_field :zipcode, autocomplete: "off", :class => 'form-control'%>
      <%= f.label :phone, :class => 'login-label' %><br />
      <%= f.text_field :phone, autocomplete: "off", :class => 'form-control'%>
      </br></br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  <% end %>
  <% elsif current_user.admin? %>
  <%= simple_form_for(@patient, :class => "navbar-form navbar-left form-inline form-signin", :role => "form") do |f|%>
      <%= f.label :name, :class => 'login-label' %><br />
      <%= f.collection_select :name, Physician.all, :name, :name, :class => 'form-control' %>
      <br/>
      <%= f.label :address, :class => 'login-label' %><br />
      <%= f.text_field :address, autocomplete: "off", :class => 'form-control'%>
      <%= f.label :city, :class => 'login-label' %><br />
      <%= f.text_field :city, autocomplete: "off", :class => 'form-control'%>
      <%= f.label :state, :class => 'login-label' %><br />
      <%= f.collection_select :state_id, State.all, :id,:state, class: 'btn btn-default' %>
      <br/>
      <%= f.label :zipcode, :class => 'login-label' %><br />
      <%= f.text_field :zipcode, autocomplete: "off", :class => 'form-control'%>
      <%= f.label :phone, :class => 'login-label' %><br />
      <%= f.text_field :phone, autocomplete: "off", :class => 'form-control'%>
      <br/>
      <%= f.label :insurance, :class => 'login-label' %><br/>
      <%= f.collection_select :insurance_id, Insurance.all, :id, :name %>
      </br></br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  <% end %>
  <% end %>

  <%= link_to 'Back', physicians_path %>
