<html>
<body class="main" style="background-image: url(<%= asset_path 'island.jpg' %>)"  >
<div class="container">
  <div class="row vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>Editing Physician</h1>
        </div>
        <div class="panel-body">
          <%= render 'form' %>

        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
