<body>
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'shared/sidebar' %>
    <!--/span-->
    <div class="col-xs-12 col-sm-9 content">
      <div class="container">
        <table>
          <thead class="background">
          <tr>
            <th colspan="2">Physician Information</th>
          </tr>
          </thead>

          <tbody class="background">

          <tr>
            <td><strong>Name:</strong></td>
            <td><%= @physician.name %></td>
          </tr>
          <tr>
            <td><strong>Address:</strong></td>
            <td><%= @physician.address %></td>
          </tr>
          <tr>
            <td><strong>City:</strong></td>
            <td><%= @physician.city %></td>
          </tr>
          <tr>
            <td><strong>State:</strong></td>
            <td><%= @physician.state.state %></td>
          </tr>
          <tr>
            <td><strong>Zipcode:</strong></td>
            <td><%= @physician.zipcode %></td>
          </tr>
          <tr>
            <td><strong>Phone:</strong></td>
            <td><%= number_to_phone(@physician.phone) %></td>
          </tr>
          <tr>
            <td><strong>User:</strong></td>
            <td><%= current_user.email %></td>
          </tr>


          </tbody>
        </table>
        <br/>


        <%= link_to 'Edit', edit_physician_path(@physician) %> |
        <%= link_to 'Back', physicians_path %>

        <h2>My Appointments</h2>
        <table>
          <thead class="background">
          <tr>
            <th>Patient</th>
            <th>Physician</th>
            <th>Date & Time</th>
            <th>Reason</th>
            <% if current_user.admin? %>
                <th>Notes</th>
                <th>Diagnostic</th>
                <th>Status</th>
                <th colspan="2">Actions</th>
            <% else %>
                <th colspan="2">Actions</th>
            <% end %>
          </tr>
          </thead>

          <tbody class="background">
          <% @physician.appointments.each do |appointment| %>
              <tr>
                <td><%= appointment.patient.name %></td>
                <td><%= appointment.physician.name %></td>
                <td><%= appointment.date.strftime("%A, %B %d %I:%M%P %G") %></td>
                <td><%= appointment.reason %></td>
                <% if (current_user.admin? || current_user.patient?) %>
                    <td><%= appointment.notes %></td>
                    <td><%= appointment.diagnostic.code %></td>
                    <%= form_for(appointment) do |f| %>
                        <td>
                          <%= f.collection_select :status_id, Status.all, :id,:name, class: 'btn btn-default' %><br/>
                          <%= f.submit 'Update', :class => 'button-xs' %>
                        </td>
                    <% end %>
                    <td>
                      <%= button_to(appointment, class: "btn btn-success btn-sm", method: "get")  do %>
                          <span class="glyphicon glyphicon-eye-open"></span>
                      <% end %>
                    </td>
                    <td>
                      <%= button_to(edit_physician_path(appointment), class: "btn btn-info btn-sm", method: "get")  do %>
                          <span class="glyphicon glyphicon-edit"></span>
                      <% end %>
                    </td>

                <% end %>
              </tr>
          <% end %>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!--/span-->

</div><!--/row-->

</div><!-- /.container -->

</body>