

<% if user_signed_in? %>
    <body class="main" style="background-image: url(<%= asset_path 'grey.jpg' %>)"  >


<div id="wrapper">


  <!-- Sidebar -->
  <div id="sidebar-wrapper">

    <ul class="sidebar-nav">

      <% if current_user.admin? %>
      <li>
        <%= link_to('Appointments', appointments_path) %>
      </li>
      <li>
        <%= link_to('Patients', patients_path) %>
      </li>
      <li>
        <%= link_to('Physicians', physicians_path) %>
      </li>
      <li>
        <%= link_to('Diagnostics', diagnostics_path) %>
      </li>
      <li>
        <%= link_to('Employees', employees_path) %>
      </li>
      <li>
        <%= link_to('Insurances', insurances_path) %>
      </li>
      <li>
        <%= link_to('Data Management', datamanage_index_path) %>
      </li>
      <% elsif current_user.physician? %>
              <li>
                <%= link_to('New Information', new_physician_path) %>
              </li>
              <li>
                <%= link_to('My Information', physicians_path) %>
              </li>
              <li>
                <%= link_to('My Appointments', appointments_path) %>
              </li>
      <% elsif current_user.patient? %>
          <li>
            <%= link_to('New Information', new_patient_path) %>
          </li>
          <li>
            <%= link_to('My Appointments', appointments_path) %>
          </li>
          <li>
            <%= link_to('My Information', patients_path) %>
          </li>
      <% elsif current_user.employee? %>
          <li>
            <%= link_to('New Information', new_employee_path) %>
          </li>
          <li>
            <%= link_to('Appointments', appointments_path) %>
          </li>
          <li>
            <%= link_to('My Information', employees_path) %>
          </li>
      <% end %>

    </ul>
  </div>

</div>

<script src="bootstrap/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="bootstrap/bootstrap.min.js"></script>


<!--/span-->
</body>


<% else %>
    <body class="main" style="background-image: url(<%= asset_path 'island.jpg' %>)"  >
<% end %>

