<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'shared/sidebar' %>
    <!--/span-->
    <div class="col-xs-12 col-sm-9 content">
      <div class="container">



        <table>
          <thead class="background">
          <tr>
            <th colspan="8">
              Manage Table Data
            </th>
          </tr>
          </thead>


          <tbody>
          <tr>
            <td><%= link_to 'States', states_path %></td>
          </tr>
          <tr>
            <td><%= link_to 'Statuses', statuses_path %></td>
          </tr>
          <tr>

          </tr>
          <tr>

          </tr>
          </tbody>
        </table>



        <br/>


      </div>
    </div><!--/span-->
  </div><!--/row-->
</div><!-- /.container -->

