<body class="main" style="background-image: url(<%= asset_path 'blurred.jpg' %>)"  >

<!--/span-->
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'shared/sidebar' %>
    <!--/span-->
    <div class="col-xs-12 col-sm-9 content">
      <div class="container">
        <%= will_paginate @patients %>

        <table id ="patient">
          <thead class="background">
          <tr>
            <th colspan="10">
              Patients Listed
            </th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Phone</th>
            <th>Insurance</th>
            <th colspan="3">Actions</th>
          </tr>
          </thead>

          <tbody class="background">
          <% @patients.each do |patient| %>
              <tr>
                <td><%= patient.name %></td>
                <td><%= patient.address %></td>
                <td><%= patient.city %></td>
                <td><%= patient.state.state %></td>
                <td><%= patient.zipcode %></td>
                <td><%= number_to_phone(patient.phone) %></td>
                <td><%= patient.insurance.name %></td>
                <td>
                  <%= button_to(patient, class: "btn btn-success btn-sm", method: "get")  do %>
                      <span class="glyphicon glyphicon-eye-open"></span>
                  <% end %>
                </td>
                <td>
                  <%= button_to(edit_patient_path(patient), class: "btn btn-info btn-sm", method: "get")  do %>
                      <span class="glyphicon glyphicon-edit"></span>
                  <% end %>
                </td>
                <td>
                  <%= button_to(patient, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' })  do %>
                      <span class="glyphicon glyphicon-remove-circle"></span>
                </td>
                  <% end %>
              </tr>
          <% end %>
          </tbody>
          <div>
            <%= link_to('New Patient', new_patient_path, class: 'btn btn-default', method: 'get') %>
            </br>
            </br>
          </div>
        </table>
        <%= will_paginate @patients %>

        <br>
        <div class="row vertical-offset-100">



          <div class="col-md-4 col-md-offset-4">

          </div>
        </div>
      </div>
    </div><!--/span-->

  </div><!--/row-->

</div><!-- /.container -->

</body>

