<body>
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'shared/sidebar' %>
    <!--/span-->
    <div class="col-xs-12 col-sm-9 content">
      <div class="container">
        <table>
          <thead class="background">
          <tr>
            <th colspan="2">Patient Information</th>
          </tr>
          </thead>

          <tbody class="background">

          <tr>
            <td><strong>Name:</strong></td>
            <td><%= @patient.name %></td>
          </tr>
          <tr>
            <td><strong>Address:</strong></td>
            <td><%= @patient.address %></td>
          </tr>
          <tr>
            <td><strong>City:</strong></td>
            <td><%= @patient.city %></td>
          </tr>
          <tr>
            <td><strong>State:</strong></td>
            <td><%= @patient.state.state %></td>
          </tr>
          <tr>
            <td><strong>Zipcode:</strong></td>
            <td><%= @patient.zipcode %></td>
          </tr>
          <tr>
            <td><strong>Phone:</strong></td>
            <td><%= number_to_phone(@patient.phone) %></td>
          </tr>
          <tr>
            <td><strong>Insurance:</strong></td>
            <td><%= @patient.insurance.name %></td>
          </tr>



          </tbody>
        </table>
        <br/>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>



        <h2>My Appointments</h2>
        <table>
          <thead class="background">
          <tr>
            <th>Patient</th>
            <th>Physician</th>
            <th>Date & Time</th>
            <th>Reason</th>
            <% if current_user.admin? %>
            <th>Notes</th>
            <th>Diagnostic</th>
            <th colspan="4">Actions</th>
            <% elsif current_user.patient? %>
            <th colspan="3">Actions</th>
            <% end %>
          </tr>
          </thead>

          <tbody class="background">

          <% @patient.appointments.each do |appointment| %>
          <tr>

                <td><%= appointment.patient.name %></td>
                <td><%= appointment.physician.name %></td>
                <td><%= appointment.date.strftime("%A, %B %d %I:%M%P %G") %></td>
                <td><%= appointment.reason %></td>
                <% if current_user.admin? %>
                    <td><%= appointment.notes %></td>
                    <td><%= appointment.diagnostic.code %></td>
                    <td>
                    <%= button_to(appointment, class: "btn btn-success btn-sm", method: "get")  do %>
                        <span class="glyphicon glyphicon-eye-open"></span>
                    <% end %>
                    </td>
                    <td>
                      <%= button_to(edit_appointment_path(appointment), class: "btn btn-info btn-sm", method: "get")  do %>
                          <span class="glyphicon glyphicon-edit"></span>
                      <% end %>
                    </td>
                    <td>
                      <%= button_to(appointment, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' })  do %>
                          <span class="glyphicon glyphicon-remove-circle"></span>
                          </td>
                      <% end %>
                <% elsif current_user.patient? %>
                    <td>
                      <%= button_to(appointment, class: "btn btn-success btn-sm", method: "get")  do %>
                          <span class="glyphicon glyphicon-eye-open"></span>
                      <% end %>
                    </td>

                    <td>
                      <%= button_to(edit_appointment_path(appointment), class: "btn btn-info btn-sm", method: "get")  do %>
                          <span class="glyphicon glyphicon-edit"></span>
                    </td>
                      <% end %>
                    <% difference = ((appointment.date - DateTime.current )/1.hour) %>
                    <% if difference >= 8 %>
                        <td>
                          <%= button_to(appointment, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' })  do %>
                              <span class="glyphicon glyphicon-remove-circle"></span>
                        </td>
                        <% end %>
                    <% elsif difference < 8 %>
                        <td>
                        <span class="glyphicon glyphicon-remove"></span>
                        </td>
                    <% end %>

                <% end %>

          </tr>


          <% end %>

          </tbody>
            </table>

      </div>
    </div>
  </div><!--/span-->

</div><!--/row-->

<!-- /.container -->

</body>
