
<% @appointments.each do |appointment| %>
<% if appointment %>
    <tr>
          <td><%= appointment.patient_id %></td>
          <td><%= appointment.physician_id %></td>
          <td><%= appointment.date.strftime("%A, %B %d %I:%M%P %G")%></td>
          <td><%= appointment.reason %></td>
          <td><%= number_to_currency(appointment.diagnostic.fee) %></td>
          <td><%= appointment.status.name %></td>
          <td>
                <%= button_to(appointment, class: "btn btn-success btn-sm", method: "get")  do %>
                    <span class="glyphicon glyphicon-eye-open"></span>
                <% end %>
              </td>
              <td>
                <%= button_to(edit_appointment_path(appointment), class: "btn btn-info btn-sm", method: "get")  do %>
                    <span class="glyphicon glyphicon-edit"></span>
                <% end %>
              </td>
          <% difference = (appointment.date - DateTime.current) %>
          <% if difference > 8.hours %>
              <td>
                <%= button_to(appointment, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' })  do %>
                    <span class="glyphicon glyphicon-remove-circle"></span>
                <% end %>
              </td>
          <% elsif difference < 8.hours %>
              <td>
                    <span class="glyphicon glyphicon-ban-circle"></span>
              </td>
          <% end %>
    </tr>
    <% else %>
        <tr>
          <td>No appointments</td>
        </tr>
    <% end %>
<% end %>



