<% @appointments.each do |appointment| %>
    <% if appointment.status_id == 4 %>
        <tr style = "background-color:#b2dba1">
          <td><%= appointment.patient.name %></td>
          <td><%= appointment.physician.name %></td>
          <td><%= appointment.date.strftime("%A, %B %d %I:%M%P %G")%></td>
          <td><%= appointment.reason %></td>

          <td><%= appointment.notes %></td>
          <td><%= appointment.diagnostic.code %></td>
          <% if appointment.diagnostic_id != 2029 %>
              <td><%= number_to_currency(appointment.diagnostic.fee) %></td>
          <% elsif appointment.diagnostic_id == 2029 %>
              <td><%= "N/A" %></td>
          <% end %>
          <% if current_user.admin? %>
              <%= form_for(appointment) do |f| %>
                  <td>
                    <%= f.collection_select :status_id, Status.all, :id,:name, class: 'btn btn-default' %><br/>
                    <%= f.submit 'Update', :class => 'button-xs' %>
                  </td>
              <% end %>
              <td>
                <%= button_to(appointment, class: "btn btn-success btn-sm", method: "get")  do %>
                    <span class="glyphicon glyphicon-eye-open"></span>
                <% end %>
              </td>
              <td>
                <%= button_to(edit_appointment_path(appointment), class: "btn btn-info btn-sm", method: "get")  do %>
                    <span class="glyphicon glyphicon-edit"></span>
                <% end %>
              </td>
              <td>
                <%= button_to(appointment, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' })  do %>
                    <span class="glyphicon glyphicon-remove-circle"></span>
                <% end %>
              </td>
              <td>
                <%= link_to 'Invoice (PDF)', appointment_path(appointment, format: "pdf") %>
              </td>
          <% elsif current_user.employee? %>
              <td>
                <%= appointment.status.name %>
              </td>
              <td>
                <%= button_to(appointment, class: "btn btn-success btn-sm", method: "get")  do %>
                    <span class="glyphicon glyphicon-eye-open"></span>
                <% end %>
              </td>
              <td>
                <%= link_to 'Invoice (PDF)', appointment_path(appointment, format: "pdf") %>
              </td>
          <% end %>

    <% elsif appointment.status_id != 4 %>
        <tr>
          <td><%= appointment.patient.name %></td>
          <td><%= appointment.physician.name %></td>
          <td><%= appointment.date.strftime("%A, %B %d %I:%M%P %G")%></td>
          <td><%= appointment.reason %></td>
          <td><%= appointment.notes %></td>
          <td><%= appointment.diagnostic.code %></td>
          <% if appointment.diagnostic_id != 2029 %>
              <td><%= number_to_currency(appointment.diagnostic.fee) %></td>
          <% elsif appointment.diagnostic_id == 2029 %>
              <td><%= "N/A" %></td>
          <% end %>
          <% if current_user.admin? %>
              <%= form_for(appointment) do |f| %>
                  <td>
                    <%= f.collection_select :status_id, Status.all, :id,:name, class: 'btn btn-default' %><br/>
                    <%= f.submit 'Update', :class => 'button-xs' %>
                  </td>
              <% end %>
              <td>
                <%= button_to(appointment, class: "btn btn-success btn-sm", method: "get")  do %>
                    <span class="glyphicon glyphicon-eye-open"></span>
                <% end %>
              </td>
              <td>
                <%= button_to(edit_appointment_path(appointment), class: "btn btn-info btn-sm", method: "get")  do %>
                    <span class="glyphicon glyphicon-edit"></span>
                <% end %>
              </td>
              <td>
                <%= button_to(appointment, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' })  do %>
                    <span class="glyphicon glyphicon-remove-circle"></span>
                <% end %>
              </td>
              <td>
                <span class="glyphicon glyphicon-lock"></span>
              </td>
          <% elsif current_user.employee? %>
              <td>
                <%= appointment.status.name %>
              </td>
              <td>
                <%= button_to(appointment, class: "btn btn-success btn-sm", method: "get")  do %>
                    <span class="glyphicon glyphicon-eye-open"></span>
                <% end %>
              </td>
              <td>
                <span class="glyphicon glyphicon-lock"></span>
              </td>
          <% end %>
    <% end %>
<% end %>