<%= simple_form_for(@appointment) do |f| %>

    <% if @appointment.errors.full_messages.any? %>
        <% @appointment.errors.full_messages.each do |message| %>
            <div style="color:red; font-size:16px" > - <%= message if @appointment.errors.full_messages.first == message %></div>
            <br/>
            <br/>
            <% end %>
    <% end %>

    <div class="form-inputs form-group">
    <% if current_user.patient? %>
    <%= f.label :patient, :class => 'login-label' %><br />
    <%= f.collection_select :patient_id, User.all.select{|patient| patient.email == current_user.email},:id, :name, :class => 'form-control' %>
    <br/>
    <%= f.label :physician, :class => 'login-label' %><br />
    <%= f.collection_select :physician_id, Physician.all, :id,:name, class: 'btn btn-default' %><br/>


    <% elsif (current_user.physician? || current_user.admin? || current_user.employee?) %>
    <%= f.label :patient, :class => 'login-label' %><br />
    <%= f.collection_select :patient_id, Patient.all, :id,:name, class: 'btn btn-default' %><br/>

    <%= f.label :physician, :class => 'login-label' %><br />
    <%= f.collection_select :physician_id, Physician.all, :id,:name, class: 'btn btn-default' %><br/>
    <% end %>


    <%= f.label :date, :class => 'login-label' %><br />
    <%= f.text_field :date, :class => 'form-control', :id => 'datetimepicker', :auto_focus => true %>

    <%= f.label :reason, :class => 'login-label' %><br />
    <%= f.text_area :reason, :class => 'form-control'%>
    <% if (current_user.physician? || current_user.admin?) %>
    <%= f.label :note, :class => 'login-label' %><br />
    <%= f.text_area :notes, :class => 'form-control'%>
    <br/>
    <%= f.label :diagnostic, :class => 'login-label' %><br />
    <%= f.collection_select :diagnostic_id, Diagnostic.all, :id,:code, class: 'btn btn-default' %>
    <br/>
    <%= f.label :status, :class => 'login-label' %><br />
    <%= f.collection_select :status_id, Status.all, :id,:name, class: 'btn btn-default' %>
    <% end %>
    <br/>
    <br/>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
    <br/>
    <br/>
    <%= link_to 'Back', appointments_path %>
  <% end %>

