<body class="main" style="background-image: url(<%= asset_path 'blurred.jpg' %>)"  >

<!--/span-->
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'shared/sidebar' %>
    <!--/span-->
    <div class="col-xs-12 col-sm-9 content">
      <div class="container">
      <%= will_paginate @appointments %>
        <br/>
      <table>
  <thead class="background">
    <tr>
      <th colspan="12">Appointments</th>
    </tr>
    <tr>
      <th>Patient</th>
      <th>Physician</th>
      <th>Date</th>
      <th>Reason</th>
      <% if current_user.admin? %>
      <th>Notes</th>
      <th>Diagnostic</th>
      <th>Fee</th>
      <th>Status</th>
      <th colspan="4">Actions</th>
      <% elsif current_user.physician? %>
      <th>Notes</th>
      <th>Diagnostic</th>
      <th>Fee</th>
      <th>Status</th>
      <th colspan="3">Actions</th>
      <% elsif current_user.employee? %>
      <th>Notes</th>
      <th>Diagnostic</th>
      <th>Fee</th>
      <th>Status</th>
      <th colspan="2">Actions</th>
      <% elsif current_user.patient? %>
      <th>Fee</th>
      <th>Status</th>
      <th colspan="3">Actions</th>
      <% end %>
    </tr>
  </thead>

    <!-- ADMIN & EMPLOYEE APPOINTMENT VIEW -->
          <% if (current_user.admin? || current_user.employee?) %>
            <tbody class="background">
            <% @appointments.each do |appointment| %>
                    <% if appointment.status_id == 4 %>
                    <tr style = "background-color:#b2dba1">
                      <td><%= appointment.patient.name %></td>
                      <td><%= appointment.physician.name %></td>
                      <td><%= appointment.date.strftime("%A, %B %d %I:%M%P %G")%></td>
                      <td><%= appointment.reason %></td>
                      
                          <td><%= appointment.notes %></td>
                          <td><%= appointment.diagnostic.code %></td>
                          <% if appointment.diagnostic_id != 2029 %>
                              <td><%= number_to_currency(appointment.diagnostic.fee) %></td>
                          <% elsif appointment.diagnostic_id == 2029 %>
                              <td><%= "N/A" %></td>
                          <% end %>
                          <% if current_user.admin? %>
                            <%= form_for(appointment) do |f| %>
                              <td>
                                <%= f.collection_select :status_id, Status.all, :id,:name, class: 'btn btn-default' %><br/>
                                <%= f.submit 'Update', :class => 'button-xs' %>
                              </td>
                            <% end %>
                          <td>
                            <%= button_to(appointment, class: "btn btn-success btn-sm", method: "get")  do %>
                                <span class="glyphicon glyphicon-eye-open"></span>
                            <% end %>
                          </td>
                          <td>
                            <%= button_to(edit_appointment_path(appointment), class: "btn btn-info btn-sm", method: "get")  do %>
                                <span class="glyphicon glyphicon-edit"></span>
                            <% end %>
                          </td>
                          <td>
                            <%= button_to(appointment, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' })  do %>
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            <% end %>
                          </td>
                          <td>
                            <%= link_to 'Invoice (PDF)', appointment_path(appointment, format: "pdf") %>
                          </td>
                          <% elsif current_user.employee? %>
                          <td>
                            <%= appointment.status.name %>
                          </td>
                          <td>
                            <%= button_to(appointment, class: "btn btn-success btn-sm", method: "get")  do %>
                                <span class="glyphicon glyphicon-eye-open"></span>
                            <% end %>
                          </td>
                          <td>
                              <%= link_to 'Invoice (PDF)', appointment_path(appointment, format: "pdf") %>
                          </td>
                          <% end %>

                <% elsif appointment.status_id != 4 %>
                    <tr>
                      <td><%= appointment.patient.name %></td>
                      <td><%= appointment.physician.name %></td>
                      <td><%= appointment.date.strftime("%A, %B %d %I:%M%P %G")%></td>
                      <td><%= appointment.reason %></td>
                      <td><%= appointment.notes %></td>
                      <td><%= appointment.diagnostic.code %></td>
                          <% if appointment.diagnostic_id != 2029 %>
                          <td><%= number_to_currency(appointment.diagnostic.fee) %></td>
                          <% elsif appointment.diagnostic_id == 2029 %>
                              <td><%= "N/A" %></td>
                          <% end %>
                          <% if current_user.admin? %>
                          <%= form_for(appointment) do |f| %>
                              <td>
                                <%= f.collection_select :status_id, Status.all, :id,:name, class: 'btn btn-default' %><br/>
                                <%= f.submit 'Update', :class => 'button-xs' %>
                              </td>
                          <% end %>
                          <td>
                            <%= button_to(appointment, class: "btn btn-success btn-sm", method: "get")  do %>
                                <span class="glyphicon glyphicon-eye-open"></span>
                            <% end %>
                          </td>
                          <td>
                            <%= button_to(edit_appointment_path(appointment), class: "btn btn-info btn-sm", method: "get")  do %>
                                <span class="glyphicon glyphicon-edit"></span>
                            <% end %>
                          </td>
                          <td>
                            <%= button_to(appointment, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' })  do %>
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            <% end %>
                          </td>
                          <td>
                                <span class="glyphicon glyphicon-lock"></span>
                          </td>
                          <% elsif current_user.employee? %>
                          <td>
                            <%= appointment.status.name %>
                          </td>
                          <td>
                            <%= button_to(appointment, class: "btn btn-success btn-sm", method: "get")  do %>
                                <span class="glyphicon glyphicon-eye-open"></span>
                            <% end %>
                          </td>
                          <td>
                            <span class="glyphicon glyphicon-lock"></span>
                          </td>
                      <% elsif appointment.date? %>
                          <tr>
                            <%= "No appointments" %>
                          </tr>
                          <% end %>

                <% end %>
            <% end %>
          <% end %>





          <!-- PATIENT APPOINTMENT VIEW -->

          <% if current_user.patient? %>
            <%= render 'appointments/colorpatient' %>
            NO APPOINTMENTS
          <% end %>

          <!-- PHYSICIAN APPOINTMENT VIEW -->
          <% if current_user.physician? %>
            <%= render 'appointments/colorphysician' %>
          <% end %>
        </tbody>

    <% if current_user.admin? %>
     <p><%= link_to('New Appointment', new_appointment_path, class: 'btn btn-default', method: 'get') %>
            <%= link_to('Completed Appointments', completed_appointments_path	, class: 'btn btn-default', method: 'get') %></p>
    <% elsif (current_user.patient? || current_user.employee?) %>
            <%= link_to('New Appointment', new_appointment_path, class: 'btn btn-default', method: 'get') %>
    </br>
    <% end %>
        <br/>
</table>
        <br>
      <%= will_paginate @appointments %>

      </div>
    </div><!--/span-->

  </div><!--/row-->

</div><!-- /.container -->

</body>