<body>
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'shared/sidebar' %>
    <!--/span-->
    <div class="col-xs-12 col-sm-9 content">
      <div class="container">
        <table>
          <thead class="background">
          <tr>
            <th colspan="2">Appointment Information</th>
          </tr>
          </thead>

          <tbody class="background">

          <tr>
            <td><strong>Patient:</strong></td>
            <td><%= @appointment.patient.name %></td>
          </tr>
          <tr>
            <td><strong>Physician:</strong></td>
            <td><%= @appointment.physician.name %></td>
          </tr>
          <tr>
            <td><strong>Date & Time:</strong></td>
            <td><%= @appointment.date.strftime("%A, %B %d %I:%M%P %G") %></td>
          </tr>
          <tr>
            <td><strong>Reasons:</strong></td>
            <td><%= @appointment.reason %></td>
          </tr>
          <tr>
            <td><strong>Status:</strong></td>
            <td><%= @appointment.status.name %></td>
          </tr>
          <% if (current_user.physician? || current_user.admin?) %>
          <tr>
            <td><strong>Notes:</strong></td>
            <td><%= @appointment.notes %></td>
          </tr>
          <tr>
            <td><strong>Diagnostic:</strong></td>
            <td><%= @appointment.diagnostic.code %></td>
          </tr>
          <% end %>
          </tbody>
        </table>
        <br/>

        <%= link_to 'Edit', edit_appointment_path(@appointment) %>
        <%= link_to 'Back', appointments_path %>
      </div>
    </div>
  </div><!--/span-->

</div><!--/row-->

</div><!-- /.container -->

</body>


