<nav class="navbar navbar-default navbar-fixed-top navbar-opa" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span>
      <%= link_to(' DermaCareOne',root_path, class: "navbar-brand glyphicon glyphicon-heart") %>
      </span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        <li>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
                <%= render 'layouts/navigation_links' %>
            <% else %>
                <%= link_to('Sign Up', new_user_registration_path, :class => 'pull-right need-help login-label btn btn-default left navbar-brand' ) %>
            <% end %>
          </ul>
        </div>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>