<!DOCTYPE html>
<html>
<head>
  <title>Project4339</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="bootstrap/bootstrap.css" rel="stylesheet">
  <link href="bootstrap/override.css" rel="stylesheet">
  <link href="bootstrap/sidebar.css" rel="stylesheet">
  <link href="bootstrap/jquery.datetimepicker.css" rel="stylesheet">
  <script src="bootstrap/bootstrap.min.js"></script>
  <script>
      $(document).ready(function () {
          $('.dropdown-toggle').dropdown();
      });
  </script>
</head>


<div id="navbar">
      <% if user_signed_in? %>
      <%= render 'layouts/navigation' %>
      <% else %>
      <%= render 'layouts/navigationtrans' %>
      <% end %>
<div id="wrapper">
      <%= render 'shared/sidebar' %>
</div>
</div>

<body>
<%= yield %>

</body>
</html>
